<footer>
  <div class="row primary">
    <div class="column about">
      <h3>CarePoint Health</h3>

      <h4>Who Are We</h4>

      <p>
        CarePoint Health brings quality, patient-focused healthcare to Hudson
        County, New Jersey. Combining the resources of three area hospitals,
        Bayonne Medical Center, Christ Hospital in Jersey City, and Hoboken
        University Medical Center, CarePoint provides a new approach to deliver
        healthcare that puts the patient front and center.
      </p>

      <p style="text-align: center; color: aliceblue">Also can contact us by</p>

      <div class="social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-youtube-square"></i>
        <i class="fa-brands fa-whatsapp-square"></i>
      </div>
    </div>

    <div class="column links">
      <h3>QUICK LINK</h3>

      <ul>
        <li>
          <a href="#faq">FIND A DOCTOR</a>
        </li>
        <li>
          <a href="#cookies-policy">MEDICAL SERVICES</a>
        </li>
        <li>
          <a href="#terms-of-services">RESUEST AN APPOINTMENT</a>
        </li>
        <li>
          <a href="#support">NEED A SUPPORT</a>
        </li>
      </ul>
    </div>

    <div class="column links">
      <h3>GET TO KNOW US</h3>
      <ul>
        <li>
          <a href="#faq">ABOUT</a>
        </li>
        <li>
          <a href="#cookies-policy">NEWS</a>
        </li>
        <li>
          <a href="#terms-of-services">CAREERS</a>
        </li>
        <li>
          <a href="#support">CONTACT</a>
        </li>
      </ul>
    </div>

    <div class="column subscribe">
      <h3>JOIN OUR MAILING LIST</h3>
      <div class="Name">
        <input class="input" type="text" placeholder="First name" />
        <input type="text" placeholder="Last name" />
      </div>
      <div>
        <input type="email" placeholder="Your email id here" />
        <button>Subscribe</button>
      </div>
    </div>
  </div>

  <div class="row copyright">
    <div class="footer-menu">
      <a href="">CarePoint Health </a>
    </div>
    <p>Copyright &copy; 2024 VŨ ĐỨC DUY Developer</p>
  </div>
</footer>
