<header>
  <div class="header">
    <a href="#" id="logo"><span>Care</span> Point</a>

    <nav class="navbar">
      <a href="#">HOME</a>
      <a routerLink="/about-us">ABOUT US</a>
      <a href="#">DOCTORS</a>
      <a href="#">GALLERY</a>
      <a href="#">BLOGS</a>
      <a>CONTACT US</a>
      <a routerLink="/bookpointment">BOOK APPOINTMENT</a>
    </nav>

    <div class="icons">
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fi fi-brands-youtube"></i>
    </div>

    <a href="#" id="menu_bars" class="fas fa-bars"></a>
  </div>
</header>
