<div class="main--content">
  <div class="overview">
    <div class="title">
      <h2 class="section--title">DashBoard</h2>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card--data">
          <div class="card--content">
            <h5 class="card--title">Total Doctors</h5>
            <h1>152</h1>
          </div>
        </div>
      </div>
      <div class="card card-2">
        <div class="card--data">
          <div class="card--content">
            <h5 class="card--title">Total Patients</h5>
            <h1>1145</h1>
          </div>
        </div>
      </div>
      <div class="card card-3">
        <div class="card--data">
          <div class="card--content">
            <h5 class="card--title">Schedule</h5>
            <h1>102</h1>
          </div>
        </div>
      </div>
      <div class="card card-4">
        <div class="card--data">
          <div class="card--content">
            <h5 class="card--title">Beds Available</h5>
            <h1>15</h1>
          </div>
        </div>
      </div>
      <div class="card card-5">
        <div class="card--data">
          <div class="card--content">
            <h5 class="card--title">Appoitment</h5>
            <h1>90</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="chart">
      <hospital-chart-combo></hospital-chart-combo>
      <div class="chart--content">
        <hospital-upcoming></hospital-upcoming>
        <hospital-chart-multi-axis></hospital-chart-multi-axis>
      </div>
      <div class="chart--content">
        <hospital-chart-bar></hospital-chart-bar>
        <hospital-chart-pie></hospital-chart-pie>
      </div>
      <div class="chart--content">
        <hospital-chart-vertical-bar></hospital-chart-vertical-bar>
        <hospital-chart-radar></hospital-chart-radar>
      </div>
    </div>
  </div>
</div>
